/*Global Styles*/
:root {
  --color-primary: #ffe900;
  --color-secondery: crimson;
  --color-white: #f5fcf4;
  --color-headings: #3b413a;
  --color-body: #918ca4;
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
*,
*::after,
*::before {
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.3s linear;
  margin: 0;
}
::selection {
  background: var(--color-primary);
  color: #3b413a;
}
/*Typography Style*/
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
@font-face {
  font-family: speda;
  src: url(../fonts/Speda.woff);
}
@font-face {
  font-family: rb;
  src: url(../fonts/rb.woff);
}
body {
  background: var(--color-white);
  font-family: "speda", arial Arial, Helvetica, sans-serif;
  color: var(--color-body);
  line-height: 1.5;
  word-spacing: 0.4ch;
  direction: rtl;
}
section {
  margin-top: 12rem;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1,
h2,
h3 {
  color: var(--color-headings);
  font-family: "speda", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
p {
  font-size: 1.8rem;
  font-family: "rb", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
a {
  text-decoration: none;
  font-family: "speda";
}
.list {
  list-style: none;
}
.span {
  font-size: 2.5rem;
  font-weight: bold;
}
.span--dis {
  color: var(--color-secondery);
}
.orginal-price {
  color: var(--green);
  text-decoration: line-through;
}
.sub-heading {
  text-align: center;
  color: var(--color-secondery);
}
.heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid crimson;
  border-radius: 3px;
  width: 50%;
  margin: 3rem auto;
}
@media screen and (min-width: 1024px) {
  p {
    font-size: 2rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* Icons Style */
.logo {
  width: 80px;
  height: 80px;
}
/*                              buttons                               */
.btn {
  font-weight: 600;
  padding: 1.4rem 2rem;
  border: 0;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.btn--secondery {
  background-color: var(--color-secondery);
  color: #f3f3f3;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}
.btn--secondery:hover {
  background: var(--color-primary);
  letter-spacing: 0.2rem;
  color: var(--black);
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/*                    navbar                      */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}
header .navbar a {
  font-size: 1.9rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--black);
}

header .navbar a.active,
header .navbar a:hover {
  color: #fff;
  background: var(--color-secondery);
}
header .navbar a.active:hover {
  background: none;
  color: var(--black);
}
header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--green);
  border-radius: 50%;
  background: #eee;
}

header .icons i:hover,
header .icons a:hover {
  color: #fff;
  background: var(--color-primary);
  transform: rotate(360deg);
}

header .icons #menu-bars {
  display: none;
}

#search-form {
  position: fixed;
  top: -810%;
  /*wata 0px la leftawa dwr bet wa tawawi shashaka rash bkat chwnka xoman hieghti 100% man dawa ba formaka*/
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

#search-form.active {
  top: 0;
  /*wata betawa shwene xoy*/
}

#search-form #search-box {
  width: 50rem;
  border-bottom: 0.1rem solid #fff;
  padding: 1rem 0;
  color: #fff;
  font-size: 3rem;
  background: none;
}

#search-form #search-box::placeholder {
  color: var(--color-primary);
}

#search-form #search-box::-webkit-search-cancel-button {
  -webkit-appearance: none;
  /*zarbi deafualti naw inputaka dasretawa*/
}

#search-form label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
}

#search-form label:hover {
  color: var(--color-primary);
}

#search-form #close {
  position: absolute;
  cursor: pointer;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
}
@media (max-width: 768px) {
  header {
    flex-direction: row-reverse;
    /*iconakan ba sheway row rek axat lanaw navbaraka */
  }
  header .icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    /*
      4 rasta helman haya har rasta helek la x w y pek
      det rasta helakan la left topawa dajulen
      bo amayan rasta heli yakam shwene xoyati
      dwam lay rast awpari seyam lay chap sarawa
      chwaram lay rast sarawa
      */
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    /*shewa chwargosha*/
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: #eee;
  }
  header .navbar a.active:hover {
    background: #eee;
  }
  #search-form #search-box {
    width: 90%;
    margin: 0 1rem;
  }
}
/*dishes style*/

.dishes .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 1.5rem;
}

.dishes .box-container .box {
  padding: 2.5rem;
  background: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: var(--box-shadow);
  position: relative;
  /*overflow hidden bo awaya ka katek iconakanman juland bo chap yan rast la containerakayan darchwn darnakawn*/
  overflow: hidden;
  text-align: center;
  margin-bottom: 1rem;
  transform: scale(0.94);
  cursor: pointer;
  /*display: none;*/
}
/*
.dishes .box-container .box:nth-child(1),
.dishes .box-container .box:nth-child(2),
.dishes .box-container .box:nth-child(3),
.dishes .box-container .box:nth-child(4) {
  display: inline-block;
}
*/
.dishes .box-container .box:hover {
  transform: scale(1);
}
.dishes .box-container .discount-box {
  background-position: top;
}
.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye {
  position: absolute;
  top: 1.5rem;
  background: #eee;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: var(--black);
}

.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover {
  background: var(--color-secondery);
  color: #fff;
}

.dishes .box-container .box .fa-heart {
  right: -15rem;
}

.dishes .box-container .box .fa-eye {
  left: -15rem;
}

.dishes .box-container .box:hover .fa-heart {
  right: 1rem;
}

.dishes .box-container .box:hover .fa-eye {
  left: 1rem;
}

.dishes .box-container .box img {
  height: 17rem;
  margin: 1rem 0;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.dishes .box-container .box h3 {
  color: var(--black);
  font-size: 2.1rem;
}

.dishes .box-container .box .stars {
  padding: 1.3rem 0;
}

.dishes .box-container .box .stars i {
  font-size: 1.7rem;
  color: var(--color-primary);
}

.dishes .box-container .box span {
  color: var(--green);
  font-weight: bolder;
  padding-left: 1rem;
  font-size: 2.5rem;
}
.dishes .box-container .box span sub {
  padding-left: 0.6rem;
}
#load-more {
  margin: 5rem 45%;
}
/*footer*/
.footer {
  margin-top: 1rem;
  background: #fff;
}
.footer .box-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  line-height: 3rem;
  justify-content: space-between;

  background-color: #fff;
}

.footer .box-container .box h3 {
  padding: 0.5rem 0;
  font-size: 2.2rem;
  color: var(--black);
  text-align: center;
}

.footer .box-container .box a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--light-color);
  text-align: center;
}
.footer .box-container .box a:hover {
  color: var(--color-secondery);
}
.footer .box-container .follow-box a {
  padding: 1rem;
  display: block;
  font-size: 14px;
}
.footer .box-container .follow-box a i {
  font-size: 25px;
  padding-left: 1rem;
}
.footer .box-container .follow-box a:hover {
  color: var(--color-secondery);
}

.footer .credit {
  text-align: center;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  color: var(--black);
  padding: 0.5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  background: #fff;
}

.footer .credit span {
  color: var(--green);
}
@media screen and (max-width: 550px) {
  .footer .box-container {
    flex-direction: column;
  }
  .footer .box-container .box a,
  .footer .box-container .box h3 {
    text-align: right;
  }
  .footer .box-container .box h3 {
    font-size: 2rem;
  }
  .footer .box-container .follow-box h3 {
    font-size: 2rem;
  }
  .footer .box-container .follow-box a {
    display: inline-block;
    font-size: 0;
  }
  .footer .credit {
    font-size: 2rem;
  }
  body{
    overflow-x: hidden;
  }
}
